<style type="text/css">
	h4, h5 {
		text-decoration: none;
		color: #000;
	}

	li:hover {
		background-color: rgba(70, 53, 66, .2);
	}

	h2 {
		cursor: default;
	}
</style>

<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="text-center">Artists</h2>
				<ol class="list-group">
				    {{#each model as |artist|}}
				    <a href="/{{artist.id}}">
				    	<li class="list-group-item clearfix">
				    		<h5 class="pull-right"><small>itunes id:</small> {{artist.itunes_id}}</h5> 
				    		<h4 class="name">{{artist.name}}</h4> 
				    	</li>
				    </a>
				    {{/each}}
				</ol>
			</div>
		</div>
	</div>
</div>